.jumbotron{
  background-color: #fff;
  border-radius: .2em .2em .2em .2em
}
.boton{
  color: #fff;
  width: 90px;
  background-color: orange;
  border-color: orange;
}

.mouse-over:active, .mouse-over:focus, .mouse-over:hover{
  color: #fff;
  background-color: #FF4500;
  border-color: #FF4500;
}

.grupo{
  float: right;
}
