body{
  background: url("../img/backgrounds/login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}

.bars {
  cursor: pointer;
  width: 24px;
}
.bar {
  background: #333;
  height: 4px;
  margin-bottom: 4px;
  width: 24px;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}


button {
  cursor: pointer;
  height: 40px;
  width: 130px;
  text-align: center;
  background: orange;
  border: 3px  orange;
  color: black;
}


input[type="radio"] {
  display: none;
}

label {
  color: grey;
  font-size: 25px;
}

.flotante_izq{
  float: left;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}


input[type="radio"]:checked ~ label {
  color: orange;
}


.form{

  margin-top: 25px;
}

.feedback-input {
  font-weight:500;
  font-size: 18px;
  padding: 13px 13px 13px 54px;
  width:70%;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid orange;
  background-color: white;
}

.noBordeder{

  border-right: none;
}

.container-fluid{
  margin-top: 50px;
}

#datepicker > span:hover{cursor: pointer;}

.largo{

  width: 70%;
}

.sin_margen{

  margin: 0px;
}

.glyphicon_tam{

    width: 100%;
    max-height: 40px;
    min-height: 30px;
    max-width: 40px;
    min-width: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.whiteyorange{
  background-color: white;
  border: 3px solid orange;
}