
.grey{
	color: grey
}

.button-ver{
	float: right; 
	width: 90px; 
	background-color: orange; 
	border-color: orange;
}

.back-orange{
	background-color: orange;
	border-color: orange;
}

.back-orange2{
	background-color: #FF4500;
	border-color: #FF4500;
}

.mouse-over{}

.mouse-over:hover{
	background-color: #FF4500;
	border-color: #FF4500;
}

.mouse-over:active{
	background-color: #FF4500;
	border-color: #FF4500;
}


.mouse-over:focus{
	background-color: #FF4500;
	border-color: #FF4500;
}

