body{
  background: url("../img/backgrounds/login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}
h3{
  color: #fff;
  background-color: #ff8910;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: .2em .2em 0 0;
}
.form-control-error {
  border: 1px solid red;
}

.login-form{
  margin: 1em;
}

.login{
    padding: 1em;
}

.container .jumbotron{
  padding-right: 0;
  padding-left: 0;
}

.jumbotron{
  margin-top: 150px;
  width:40%;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius:.2em;
  margin-left: 350px;
}
.input-group{
  margin-left: 65px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}
.links{
  text-align: right;
  margin-bottom: 1em;
  margin-right: 65px;
}
.enviar{
  color: #fff;
  font-size: 130%;
  background-color: #ff8910;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 110px;
  width: 50%;
}
.enviar:hover,
.enviar:focus,
.enviar:active,
.enviar.active,
.open .dropdown-toggle.enviar {
  color: #fff;
  background-color: #e56a03;
}

.g-recaptcha{
  margin-left: 65px;
  width: 70%;
}

/*#usernameError{
  color: white;
  background-color: red;
  width: 15px;
}*/

.form-control-ok {
  border: 1px solid green;
}

.img-ok{
  width: 30px;
  float: right;
  margin-right: 30px;
}
