body {
  background: #a3a3a3;
}
h3{
  color: #fff;
  background-color: #ff8910;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 2em;
  border-radius: .2em .2em 0 0;
}
.container .jumbotron{
  padding-right: 0;
  padding-left: 0;
}
.jumbotron{
  margin-top: 150px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius:.2em;
}
.input-group{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 25%;
  margin-left: 25%;
}
.input-group-addon{

}
.links{
  text-align: right;
  margin-top: 1em;
  margin-right: 25%;
  margin-left: 25%;
}
.enviar{
  color: #fff;
  font-size: 130%;
  background-color: #ff8910;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 25%;
  margin-left: 25%;
}

.enviar:hover,
.enviar:focus,
.enviar:active,
.enviar.active,
.open .dropdown-toggle.enviar {
  color: #fff;
  background-color: #e56a03;
}
