@import "inicio.css";

.grey{
	color: grey
}

.button-ver{
	float: right;
	width: 90px;
	background-color: orange;
	border-color: orange;
}

.button-ver-sin-float{
	width: 90px;
}

.back-orange{
	background-color: orange;
	border-color: orange;
}

.back-orange2{
	background-color: orange;
	border: 1px solid orange;
}

.mouse-over:active, .mouse-over:focus, .mouse-over:hover{
  background-color: #FF4500;
  border-color: #FF4500;
}

.back-orange2 > .panel-heading{
	background-color: orange;
	border: 1px solid orange;
}

.white{
	color: white;
}

.back-white{
	background-color: white;
}

.button-less{
	float: right;
	width: 90px;
	background-color: orange;
	border-color: orange;
}

@media (max-width: 400px) {
	.button-less{
		float: none;
		width: 70px;
		background-color: orange;
		border-color: orange;
		padding-left: 6px;
	}
}
